![texto_descriptivo](portada.jpg)

### Importamos los módulos necesarios para el proyecto

In [22]:
import pandas as pd
import src.limpieza_texto as lt

### Cargamos el dataset

In [23]:
original_data = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [24]:
original_data.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
11572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8654,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6769,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6208,ND-0111,Before 1901,0.0,Unprovoked,SRI LANKA,Northern Province,Mannar,Fishing?,male,M,...,NaN,Gould & Pyle,ND-0111-SriLanka.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0111,ND-0111,95.0,NaN,NaN
18121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are some rows where there is no data.

In [25]:
original_data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

### The first step is to delete all the incomplete values.
We use the function `dropna` to delete `all` the rows where there are no values.

In [26]:
data_filtered_1= original_data.dropna(axis=0, how="all")
print(data_filtered_1.shape)
data_filtered_1.tail()

(8703, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As we cas see, there are some row where thr `case number` value is `0` and the rest of the values are `Nan`.
First we create a new variable and select the filtered rows of the dataframe where the `case number`value is different from `0`.

In [27]:
data_filtered_2 = data_filtered_1[data_filtered_1["Case Number"] != "0"]
data_filtered_2.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As que can see, there is a value at the end of dataframe where the `Case Number` value is `xx` and the rest of the values of the row `NaN`, so I delete that row using the method `.drop()` and selecting the value of the index.

In [28]:
data_filtered_3 = data_filtered_2.drop(index= 25722)

In [29]:
data_filtered_3.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2936,1983.06.20,20-Jun-1983,1983.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Surfing & dangling foot in water amid baitfish,Barry Skinner,M,...,NaN,"Miami Herald, 6/22/1983, p.2B",1983.06.20-Skinner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.20,1983.06.20,3367.0,NaN,NaN
3720,1963.12.22.a,22-Dec-1963,1963.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,"Next to West Street groyne, Durban",Helping friend land hooked shark,Desmond Woodhams,M,...,"Dusky shark, 1 m","M. Levine, GSAF",1963.12.22.a-Woodhams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.12.22.a,1963.12.22.a,2583.0,NaN,NaN
2925,1983.08.13.a,13-Aug-1983,1983.0,Unprovoked,USA,Florida,"6 miles south of Boca Chica Key, Monroe County",Diving,Jackie Lynn,F,...,6' to 8' bull shark,"Miami Herald, 8/14/1983, p.1D",1983.08.13.a-JackieLynn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.08.13.a,1983.08.13.a,3378.0,NaN,NaN

There are also some columns called`pdf`, `href formula`, `Unnamed: 22`, `Unnamed: 23`, which I consider that are not useful.

The column `original order` is also no usefull becouse is the same as the index but inverted.

In [30]:
data_filtered_4 = data_filtered_3.drop(["Unnamed: 22","Unnamed: 23", "pdf", "href formula", "original order"], axis=1)
data_filtered_4.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href,Case Number.1,Case Number.2
2410,1994.12.09.b,09-Dec-1994,1994.0,Invalid,AUSTRALIA,Queensland,"Hinchinbrook Channel, Queensland",Murder victim,Peter Saibura,M,44,Shark scavenged on his corpse,NaN,NaN,Invalid,"Courier Mail, 3/30/1995",http://sharkattackfile.net/spreadsheets/pdf_di...,1994.12.09.b,1994.12.09.b
2904,1984.02.11,11-Feb-1984,1984.0,Unprovoked,AUSTRALIA,Queensland,Derwent Island,Spearfishing,Greg Pearce,M,27,Hand bitten,N,NaN,1.5 m white-tipped reef shark,"Courier-Mail, 2/14/1984, p.3",http://sharkattackfile.net/spreadsheets/pdf_di...,1984.02.11,1984.02.11
235,2016.07.28.R,28-Jul-2016,2016.0,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,72,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016",http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28.R,2016.07.28.R

#### At the end of the dataframe there are to columns, so the next step is to check if the information is difference between them.

In [31]:
data_filtered_4[data_filtered_4["Case Number.1"] != data_filtered_4["Case Number.2"]].sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href,Case Number.1,Case Number.2
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,NaN,"Bruised ribs & tail bone, speargun broken and ...",N,09h30 / 10h00,Bull sharks x 2,K. Love,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b
5275,1900.00.00.R,Reported to have taken place in 1919,1919.0,Boating,ITALY,NaN,Savona,Fishing,NaN,M,NaN,No injury,N,NaN,13' shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,1919.00.00.R,1900.00.00.R
144,2017.05.06,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",Snorkeling,Andres Rozada,M,33,FATAL,Y,17h00,NaN,J. Rozada,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.06,2017.05.06
5386,1911.07.31.R,Reported 31-Jul-1911,1911.0,Unprovoked,SPAIN,Málaga,Ceuta,Bathing,a soldier,M,NaN,FATAL,Y,NaN,NaN,C. Moore. GSAF,http://sharkattackfile.net/spreadsheets/pdf_di...,1911.07.31.T,1911.07.31.R
339,2015.10.28.a,28-Oct-2015,2015.0,Unprovoked,USA,Hawaii,"Malaka, Oahu",Body boarding,Raymond Senensi,M,10,"Lacerations & puncture wounds to right thigh, ...",N,14h50,NaN,"Star Advertiser, 10/28/2015",http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.28,2015.10.28.a

After analyzing these two columns, you can see that it is the same value as the `case number` column but with different characters, so I decide to delete them.

In [32]:
data_filtered_5 = data_filtered_4.drop(["Case Number.1", "Case Number.2"], axis=1)
data_filtered_5.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
5704,1890.05.14,14-May-1890,1890.0,Invalid,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,NaN,Joseph Lundy,M,NaN,Forensic evidence indicated death resulted fro...,NaN,NaN,Invalid,"M. Levine, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3942,1960.12.27.a.,27-Dec-1960,1960.0,Unprovoked,AUSTRALIA,New South Wales,"Bondi Beach, Sydney",NaN,Mrs. Despo Snow-Christensen,F,27,"Shark brushed past, minor injuries if any",N,NaN,3 m [10'] shark,"Baltimore Sun, 12/28/1960; Sydney Morning Hera...",http://sharkattackfile.net/spreadsheets/pdf_di...
3859,1962.00.00.c,1962,1962.0,Unprovoked,SPAIN,Catalonia,Aigua Blava,Dangling feet in the water,female,F,NaN,Feet severed,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [38]:
data_filtered_.corr()

      Year
Year   1.0

I conducted a study on how many `researchers` there are and how much research they have carried out.

In [34]:
data_filtered_5["Investigator or Source"].unique()

array(['R. Collier, GSAF', 'K.McMurray, TrackingSharks.com',
       'B. Myatt, GSAF', ..., 'F. Schwartz, p.23; C. Creswell, GSAF',
       'The Sun, 10/20/1938', 'S.W. Baker'], dtype=object)

In [35]:
data_filtered_5["Investigator or Source"].value_counts()

C. Moore, GSAF                                               105
C. Creswell, GSAF                                             92
S. Petersohn, GSAF                                            82
R. Collier                                                    55
R. Collier, GSAF                                              48
                                                            ...
Coppleson (1962), p.247                                        1
Geraldton Guardian, 6/18/1925                                  1
V.M. Coppleson (1958), pp.67 & 233;  A. Sharpe, pp.89-90]      1
Coppleson.V1. (1933); Melbourne Herald, 1/7/1925               1
New Zealand Herald, 10/22/2017                                 1
Name: Investigator or Source, Length: 4969, dtype: int64

In [33]:
data_filtered_5[data_filtered_5["Investigator or Source"] == "C. Moore, GSAF"].sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
5489,1905.08.24,24-Aug-1905,1905.0,Invalid,EGYPT,Suez Canal,Port Said,Human head found in shark caught by British st...,NaN,M,NaN,Probable drowning & scavenging.,NaN,NaN,"Tiger shark, 3.9 m","C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4467,1950.07.19,1950.07.19,1950.0,Provoked,ITALY,Savona,Albenga,Fishing,male,NaN,NaN,Harpooned shark bit his forehead PROVOKED INCI...,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4826,1938.00.00.e.R,Reported 1938,1938.0,Unprovoked,EGYPT,NaN,Mersa Matruh,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5337,1914.06.12,13-Jun-1914,1914.0,Boating,MONTENEGRO,Adriatic Sea,Between St. Stjepan and Budva,Fishing boat,Occupants: Ivan Angjus & Stevo Kentera,M,NaN,"No injury, shark bit paddle and stern of boat",N,07h00,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6148,1764.00.00,1764,1764.0,Unprovoked,SPAIN,NaN,Guadalquivir River,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3810,1962.07.03.R,Reported 03-Jul-1962,1962.0,Invalid,GREECE,Cyclades,Near Mykonos Island,NaN,Boat with tourists onboard,NaN,NaN,No injury,NaN,NaN,Questionable incident,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3513,1967.08.25,25-Aug-1967,1967.0,Unprovoked,ITALY,Liguria,"Marinella Sarzana, La Spezia",Spearfishing on Scuba,Gian Paolo Porta Casucci,M,NaN,Minor injuries to face & forearm,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,NaN,No injury,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5939,1864.09.18.R,Reported 18-Sep-1864,1864.0,Provoked,FRANCE,Alpes Maritime,Antibes,Dragging a shark,fisherman,M,NaN,Knee bitten PROVOKED INCIDENT,N,NaN,1.5 m shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5044,1930.05.11.R,Reported 11-May-1930,1930.0,Boating,TURKEY,NaN,Ye?ilköy,Fishing,small boat. Occupants: 2 Englishmen,M,NaN,No injury but shark damaged boat,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
import src.limpieza_texto as lt

In [34]:
lt.valores_iguales(data_filtered_5, "Investigator or Source", "C. Moore, GSAF")

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
136,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N,NaN,"3m shark, probably a smooth hound","C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
2718,1988.08.22.a,22-Aug-1988,1988.0,Unprovoked,ITALY,Manfredonia,Ippocampo,NaN,male,M,16,Survived,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3183,1976.06.02.R,Reported 02-Jun-1976,1976.0,Provoked,ITALY,Reggio Calabria Province,Bovalino,Fishing,Francisco Pelle,M,46,Shark rammed boat PROVOKED INCIDENT,N,NaN,"Blue shark, 2m","C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3229,1975.04.25,25-Apr-1975,1975.0,Invalid,ITALY,Genoa Province,Cervara,Scuba diving,Walter Sansoni,M,37,The press reported this as an attack by a whit...,NaN,NaN,Invalid,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
3513,1967.08.25,25-Aug-1967,1967.0,Unprovoked,ITALY,Liguria,"Marinella Sarzana, La Spezia",Spearfishing on Scuba,Gian Paolo Porta Casucci,M,NaN,Minor injuries to face & forearm,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6156,1738.04.06.R,Reported 06-Apr-1738,1738.0,Unprovoked,ITALY,Sicily,Strait of Messina,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6193,ND-0134,Between 1951-1963,0.0,Unprovoked,GREECE,NaN,NaN,Swimming,Martha Hatagouei,F,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6196,ND-0130,Before 1876,0.0,Unprovoked,LEBANON,NaN,NaN,Collecting fish,Kahlifeh,M,NaN,Posterior thigh bitten,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
6197,ND-0129,Before 2012,0.0,Unprovoked,SPAIN,Canary Islands,Tenerife,Skin diving,NaN,NaN,NaN,Injury required 16 stitches,N,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [35]:
lt.funcioncita(2)

'4'

In [36]:
lt.elim_columnas()

TypeError: elim_columnas() missing 3 required positional arguments: 'df', 'lista', and 'new_name'

In [13]:
#exportamos el dataset a la carpeta data "midatasetlimpio.csv"